<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/petbase</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">9303</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping files / annotated classes -->
        <mapping class="com.azikram0.spring.lab4.entity.Specialist"/>
        <mapping class="com.azikram0.spring.lab4.entity.Pet"/>
        <mapping class="com.azikram0.spring.lab4.entity.Owner"/>
        <mapping class="com.azikram0.spring.lab4.entity.MedicalHistory"/>
        <mapping class="com.azikram0.spring.lab4.entity.PetOwnerLink"/>

    </session-factory>
</hibernate-configuration>

